<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false" />
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <!--
      Configuração DO SERVIÇO (caminhos locais do Windows; o cliente nunca os envia).
      Prioridade: variável de ambiente LowCodeRunner__<Chave> > este arquivo > default.
      Sem segredos aqui: valores sensíveis (se houver) só por variável de ambiente do host.
    -->
    <add key="ListenPrefix" value="http://localhost:5230/" />
    <add key="SysmiddleDir" value="" />
    <add key="GlobalFolder" value="" />
    <add key="Package" value="" />
    <add key="DefaultMapperName" value="" />
    <add key="RunnerTimeoutSeconds" value="180" />
    <add key="MaxConcurrentRunners" value="2" />
    <add key="MaxQueue" value="8" />
    <add key="MaxBodyBytes" value="20971520" />
    <add key="NfePostProcessingDefault" value="false" />
    <!-- Vazios = defaults: LogDir=%ProgramData%\LayoutParserLowCodeRunner\logs, WorkerTempDir=...\work,
         WorkerExePath = este exe. Ver README para MapperCacheSeconds, MaxCandidates, GracefulShutdownSeconds. -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.20943" newVersion="1.3.2.20943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.20943" newVersion="1.3.2.20943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.20943" newVersion="1.3.2.20943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
      </dependentAssembly>
      <!-- SDK v4.5 exige SharpZipLib 1.4.2.13 (o app.config original apontava 0.85, de uma build antiga) -->
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
